version: "3.8"

services:
  backend:
    build:
      context: ./Backend
    env_file:
      - ./Backend/.env
    ports:
      - "4000:4000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_BACKEND_URL=${VITE_BACKEND_URL}
        - VITE_RAZORPAY_KEY_ID=${VITE_RAZORPAY_KEY_ID}
    env_file:
      - ./frontend/.env
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
